<ion-view>

    <ion-content>

        <!--Header-->

        <div class="row100 rtl calendarHeader">

            <div class="calendarHeaderRight"  ng-click="subtractWeek()">
                <a href="" style="color: white; text-decoration: none; font-size: 14px;"><</a>
                <div>שבוע הקודם</div>
            </div>

            <div class="calendarHeaderCenter">
                {{firstDayOfWeek | amDateFormat: "DD"}}-{{lastDayOfWeek | amDateFormat: "DD/MM"}}
            </div>

            <div class="calendarHeaderLeft"  ng-click="addWeek()">
                <a href="" style="color: white; text-decoration: none; font-size: 14px;">></a>
                <div>שבוע הבאה</div>
            </div>

        </div>

        <!--If manager orders for employee-->

        <div class="row100 rtl calendarEmployee" ng-if="employeeToOrder">
            <span>הזמנה עבור </span>{{employeeToOrder.name}}
        </div>



        <!--Content-->

        <div ng-repeat="day in orders">

            <!--If there is an order for this day-->

            <div class="row100 rtl" ng-class="{'calendar-today' : isToday(day), 'calendar-not-today' : !isToday(day)}" ng-show="day.type == 'ordered'">

                <div class="calendarRowDateOrder">

                    <div class="calendarRowDateSquareOrder">
                        <div class="calendarRowDateSquareLetter">{{day.letter}}</div>
                        <div>{{day.date | amDateFormat : 'DD/MM'}}</div>
                    </div>

                </div>

                <div class="calendarRowDesc" ng-class="{'calendar-today' : isToday(day), 'calendar-not-today' : !isToday(day)}">

                    <div class="row100">

                        <div class="calendarRowDescLogo">
                            <img src="{{serverHost}}/{{day.order.restaurant_image}}" style="width: 70px; height: 70px;">
                        </div>

                        <div class="calendarRowDescContent rtl">

                            <div class="calendarRowDescContentRestaurant">{{day.order.restaurant_name}}</div>
                            <div ng-show="day.order.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>מנה עיקרית: </span>{{day.order.main.name}}
                            </div>
                            <div ng-show="day.order.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>תוספות: </span>{{day.order.mod1.name}}, {{day.order.mod2_first.name}}<span
                                    ng-show="day.order.mod2_second != '0'">,</span> {{day.order.mod2_second.name}}
                            </div>
                            <div ng-show="day.order.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>שתיה: </span>{{day.order.drink.name}}
                            </div>
                            <div ng-show="day.order.fastfood != '0'" class="calendarRowDescContentDishes">
                                <span>מנה ארוזה: </span>{{day.order.fastfood.name}}
                            </div>

                        </div>

                    </div>

                </div>

                <div class="calendarRowButton">
                    <i class="icon ion-edit" style="font-size: 200%;;" ng-class="{'calendar-today-icon' : isToday(day), 'calendar-not-today-icon' : !isToday(day)}" ng-click="checkAvailabilityForEdit(day)"></i>
                    <i class="icon ion-ios-information-outline" style="font-size: 200%;"  ng-class="{'calendar-today-icon' : isToday(day), 'calendar-not-today-icon' : !isToday(day)}"  ng-click="showInfoPopup(day.number); $event.stopPropagation();"></i>
                </div>

            </div>

            <!--If there is no order for this day-->

            <div class="row100 rtl" ng-show="day.type == 'empty'" ng-class="{'calendar-today' : isToday(day), 'calendar-not-today' : !isToday(day)}" ng-click="checkAvailability(day)">

                <div class="calendarRowDate">

                    <div class="calendarRowDateSquare">
                        <div class="calendarRowDateSquareLetter">{{day.letter}}</div>
                        <div>{{day.date | amDateFormat : 'DD/MM'}}</div>
                    </div>

                </div>

                <div class="calendarRowEmpty" ng-class="{'calendar-today' : isToday(day), 'calendar-not-today' : !isToday(day)}">
                    לחצו להרכבת מנה
                </div>
                <div class="calendarRowEmptyArrow">
                    <img src="img/left_arrow.png" height="45">
                </div>

            </div>

            <!--Separator-->

            <div class="rowSeparator"></div>

        </div>
        <div>
            <img src={{calendarImage.picture}} style="width: 100%;">
        </div>

    </ion-content>
</ion-view>
