<ion-view class="rtl">
    <ion-content class="has-footer">

        <div class="row100">
            <div class="eventsUpperBarButton" ng-click="selectTab('1')" ng-class="{eventsUpperBarButtonSelected: selection == '1'}">Future</div>
            <div class="eventsUpperBarButton" ng-click="selectTab('0')" ng-class="{eventsUpperBarButtonSelected: selection == '0'}">Past</div>
        </div>

        <div ng-repeat="event in events">

            <div class="row100" ng-show="event.future == selection" ui-sref="app.event_edit({event_id : event.index})">
                <div class="eventsDateTime">{{event.event_date | amDateFormat: 'DD.MM.YYYY'}}</div>
                <div class="eventsDateTime">{{event.event_time | amDateFormat: 'HH:mm'}}</div>
                <div class="eventsDateTime">{{event.orders.length}} הזמנות  </div>
                <div class="eventsDateTime" ng-click="deleteEvent(event.index); $event.stopPropagation();" ><i class="icon ion-ios-trash" style="font-size: 150%;"></i></div>
            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooterButton" ui-sref="app.event">הזמן</div>
    </ion-footer-bar>
</ion-view>
