<ion-view class="rtl">
    <ion-content class="has-footer" style="bottom: 12vh;">

        <div ui-sref="app.calendar" class="homeImg">
            <img src="img/main_menu.png">
        </div>

        <div ui-sref="app.store" class="homeImg">
            <img src="img/main_shop.png">
        </div>

    </ion-content>
    <ion-footer-bar class="homeFooter">
        <div ui-sref="app.personal">
            <img src="img/main_info.png" style="width: 100%;">
        </div>
    </ion-footer-bar>
</ion-view>
