<ion-view class="rtl" hide-nav-bar="true">
    <ion-content class="blueBackground">

        <div class="loginLogo">
            <img src="img/logo.png" style="width: 100%;">
        </div>


        <div class="loginInputDiv">
            <input type="tel" placeholder="הכנס מספר תעודת זהות" ng-model="login.idcard" class="loginInput">
        </div>

        <div class="loginButtonDiv">
            <button class="button button-clear loginButton" ng-click="makeLogin()">כניסה ></button>
        </div>

    </ion-content>
</ion-view>
