.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.ng-hide {
    display: none !important;
}

ion-header-bar {
    background-color: #48AEC4 !important;
}

.centering {
    text-align: center;
}

.blueBackground {
    background-color: #48AEC4;
}

.row100 {
    width: 100%;
    overflow: hidden;
}

.row80 {
    width: 80%;
    margin: 0 auto;
}

.pb10 {
   padding-bottom: 10px;
}

.p0{
    padding: 0;
}

.rowSeparator {
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
}

.greenFooterButton {
    width: 100%;
    text-align: center;
    background-color: #1FC27F;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 12px 0;
}

.popup {
    border-radius: 10px !important;
}

.popup-buttons button {
    background-color: #48AEC4 !important;
    border-radius: 10px !important;
}

.categories-image {
    width: 100%;
    height: calc((100vh - 55px)/4);
}

/*Menu*/
.productsInCart {
    width: 16px;
    height: 16px;
    background: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    left: 25px;
    color: #48AEC4;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}
/*End of menu*/

/*Login*/
.loginLogo {
    width: 80%;
    margin: 80px auto 30px auto;
}

.loginInputDiv {
    width: 90%;
    margin: 10px auto;
}

.loginInput{
    width: 100%;
    background-color: #132C31;
    text-align: center;
    border-bottom: 2px solid white !important;
    color: white !important;
    font-size: 150% !important;
    padding: 25px 0 !important;
}

.loginInput::-webkit-input-placeholder{
    color: white !important;
}

.loginButtonDiv {
    width: 90%;
    margin: 0 auto;
}

.loginButton{
    width: 100%;
    background-color: white !important;
    color: #48AEC4 !important;
    font-size: 150%;
    line-height: 150%;
    font-weight: bold;
    padding: 5px 0 !important;
}
/*End of Login*/

/*home*/
.homeFooter {
    padding: 0;
    height: 12vh;
}

.homeImg, .homeImg img {
    width: 100%;
    height: calc((88vh - 40px)/2);
}

/*Calendar page*/

.calendarEmployee {
    text-align: center;
    background-color: grey;
    font-size: 120%;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

.calendarHeader {
    background-color: #48AEC4;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 0 1px 1px 1px gray;
}

.calendarHeaderRight{
    width: 33%;
    float: right;
    text-align: left;
    font-size: 10px;
    line-height: 12px;
    margin-top: -3px;
}

.calendarHeaderCenter{
    width: 34%;
    float: right;
}

.calendarHeaderLeft{
    width: 33%;
    float: right;
    text-align: right;
    font-size: 10px;
    line-height: 12px;
    margin-top: -3px;
}

.calendar-today {
    background-color: #03BFFC;
}

.calendar-today-icon {
    color: white;
}

.calendar-not-today-icon {
    color: #48AEC4;
}

.calendar-not-today{
    background-color: #E4EFF3;
}

.calendarRowDate {
    width: 25%;
    float: right;
}

.calendarRowDateOrder {
    width: 25%;
    float: right;
    background-color: inherit;
    padding-top: 10px;
}

.calendarRowDateSquare {
    width: 75px;
    height: 50px;
    background-color: white;
    margin: 5px 0;
    text-align: center;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    padding-left: 10px;
}

.calendarRowDateSquareOrder {
    width: 75px;
    height: 50px;
    background-color: #48AEC4;
    color: white;
    margin: 5px 0;
    text-align: center;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    padding-left: 10px;
}

.calendarRowDateSquareLetter {
    font-size: 250%;
    line-height: 80%;
    font-weight: bold;
}

.calendarRowEmpty {
    width: 65%;
    float: right;
    font-size: 120%;
    padding: 20px 0;
    font-weight: bold;
}

.calendarRowEmptyArrow {
    width: 10%;
    float: right;
    padding: 5px 0;
}

.calendarRowDesc {
    width: 65%;
    float: right;
}

.calendarRowButton {
    width: 10%;
    float: left;
    padding-top: 10px;
}

.calendarRowDescLogo {
    width: 25%;
    float: right;
    text-align: right;
    padding-top: 5px;
}

.calendarRowDescContent {
    width: 75%;
    float: right;
    text-align: right;
    padding: 5px 15px 5px 0;
}

.calendarRowDescContentDishes {
    font-size: 12px;
    line-height: 15px;
}

.calendarRowDescContentRestaurant {
    font-weight: bold;
}
/*End of Calendar page*/

/*Restaurants*/

.restaurantsHeader {
    background-color: #48AEC4;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 150%;
    box-shadow: 0 1px 1px 1px gray;
}

.restaurantsRowLogo {
    width: 25%;
    float: right;
    padding: 5px;
}

.restaurantsRowDesc {
    width: 55%;
    float: right;
    padding: 10px 0;
}

.restaurantsRowDescName {
    font-size: 150%;
}

.restaurantsRowButton {
    width: 20%;
    float: left;
    padding-top: 20px;
    text-align: center;
}

/*End of Restaurants*/

/*Dishes*/

.dishesUpperBarButton {
    width: 25%;
    float: right;
    background-color: #e8e8e8;
    text-align: center;
    height: 70px;
    position: relative;
}

.dishesUpperBarButtonText {
    font-size: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dishesUpperBarButtonSelected {
    background-color: lightgrey !important;
}

.dishesRowButton {
    width: 20%;
    float: left;
    padding-top: 30px;
    text-align: center;
}

.dishesFooterComments {
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 12px 0;
}

.dishesFooterEvent {
    width: 50%;
    float: right;
}

.dishesFooterEvent input {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    direction: ltr;
}
/*End of Dishes*/

/*Info Popup*/

.infoPopup .popup {
    background-color: transparent;
    width: 80%;
    height: 430px;
    padding-right: 15px;
}

.infoPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.infoPopupMain {
    background-color: white;
    width: 100%;
    height: 400px;
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
}

.infoPopupRestaurantName {
    font-size: 120%;
    font-weight: bold;
    margin: 10px 0;
}

.infoPopupDishes {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.infoOrderComment {
    border: 1px solid black;
    margin: 10px 0;
    width: 100%;
    height: 60px;
}
/*End of Info Popup*/

/*Store and Store Category*/
.storeTitle {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.storeCategoryItem{
    width: 50%;
    float: right;
}

.storeCategoryItemDetails {
    background-color: black;
    color: white;
    padding: 5px 0;
    margin: 10px 0;
}

/*End of store and store category*/

/*Product*/
.productBold {
    font-weight: bold;
    line-height: 150%;
}

.productNumber{
    width: 15%;
    float: right;
}

.productNumber input {
    border: 1px solid grey !important;
    width: 100%;
    padding-right: 7px;
}

.productContentTitle{
    padding-bottom: 10px;
}
/*End of product*/

/*Cart*/
.cartEmpty {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.cartTrash {
    width: 10%;
    float: right;
    text-align: center;
    padding-top: 15px;
}

.cartImg {
    width: 20%;
    float: right;
    text-align: center;
}

.cartDesc {
    width: 55%;
    float: right;
    padding-right: 10px;
}

.cartDesc div:first-of-type {
    font-weight: bold;
}

.cartQuantity {
    width: 15%;
    float: right;
    text-align: center;
}

.cartQuantitySquare {
    width: 40px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    border: 1px solid grey;
}
/*End of cart*/

/*Personal*/
.personalLabel {
    width: 35%;
    float: right;
    text-align: left;
    line-height: 44px;
    padding-left: 10px;
}

.personalInput {
    width: 65%;
    float: right;
    margin: 5px 0;
    padding: 0 5px;
}

.personalInput input {
    text-align: right;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-right: 5px;
}
/*End of personal*/

/*Events*/

.eventsUpperBarButton {
    width: 50%;
    float: right;
    background-color: #e8e8e8;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.eventsUpperBarButtonSelected {
    background-color: lightgrey !important;
}

.eventsDateTime {
    width: 25%;
    float: right;
    text-align: center;
    padding: 10px 0;
}

/*End of events*/

/*Event*/
.eventInput {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.eventInput input {
    width: 100%;
    background-color:#48AEC4;
    color: white;
    text-align: center;
}

.eventInput input::-webkit-input-placeholder{
    color: white !important;
    text-align: center !important;
}

.eventButton {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #48AEC4;
    padding: 5px 0;
    color: #48AEC4;
}
/*End of event*/

/*Employees*/
.employeesRowName{
    background-color: #E4EFF3;
    font-size: 120%;
    padding: 20px;
    font-weight: bold;
    width: 60%;
    float: right;
}

.employeesRowButton {
    text-align: center;
    background-color: #E4EFF3;
    font-size: 120%;
    font-weight: bold;
    padding: 6px;
    width: 10%;
    float: right;
}

.employeesRowTitle {
    text-align: left;
    background-color: #E4EFF3;
    font-size: 120%;
    padding: 20px 10px;
    font-weight: bold;
    width: 30%;
    float: right;
}

/*End of employees*/