<ion-view>
    <ion-content class="has-footer">

        <div ng-show="cart.length == 0">
            <div class="cartEmpty">אין מוצרים בעגלה</div>
        </div>

        <div ng-repeat="item in cart" class="rtl" ng-show="cart.length > 0">

            <div class="row100" style="padding: 10px 0;">

                <div class="cartTrash">
                    <i class="icon ion-ios-trash" style="font-size: 30px;" ng-click="deleteItem(item.index)"></i>
                </div>

                <div class="cartImg">
                    <img src="{{serverHost}}/{{item.image}}" style="width: 100%;">
                </div>

                <div class="cartDesc">
                    <div>{{item.title}}</div>
                    <div>מחיר: {{item.price}} ש״ח</div>
                </div>

                <div class="cartQuantity">
                    <div class="cartQuantitySquare">{{item.quantity}}</div>
                </div>

            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooterButton" ng-click="addStoreOrder()">
            הזמן
        </div>
    </ion-footer-bar>
</ion-view>
