<ion-view class="rtl">
  <ion-content>

          <div ui-sref="app.dishes({mode: mode, day: day, day_number: day_number, restaurant_id: restaurant_id, category_id: 0, order_id: order_id})">
              <img src="img/category1.png" class="categories-image">
          </div>
          <div ui-sref="app.dishes({mode: mode, day: day, day_number: day_number, restaurant_id: restaurant_id, category_id: 1, order_id: order_id})">
              <img src="img/category33.png" class="categories-image">
          </div>
          <div ui-sref="app.dishes({mode: mode, day: day, day_number: day_number, restaurant_id: restaurant_id, category_id: 2, order_id: order_id})">
              <img src="img/category22.png" class="categories-image">
          </div>
          <div ui-sref="app.dishes({mode: mode, day: day, day_number: day_number, restaurant_id: restaurant_id, category_id: 3, order_id: order_id})">
              <img src="img/category4.png" class="categories-image">
          </div>

  </ion-content>
</ion-view>
