<ion-view class="rtl">
    <ion-content class="has-footer" style="bottom: 88px;">

        <div ng-show="category_id != '3'">

            <!--Menu for all categories besides fastfood-->

            <div class="row100">
                <div class="dishesUpperBarButton" ng-click="selectTab('main')" ng-class="{dishesUpperBarButtonSelected : selection == 'main'}">
                    <div class="dishesUpperBarButtonText">{{currentDishes.main.name}}</div>
                </div>
                <div class="dishesUpperBarButton" ng-click="selectTab('mod1')" ng-class="{dishesUpperBarButtonSelected : selection == 'mod1'}">
                    <div class="dishesUpperBarButtonText">{{currentDishes.mod1.name}}</div>
                </div>
                <div class="dishesUpperBarButton" ng-click="selectTab('mod2')" ng-class="{dishesUpperBarButtonSelected : selection == 'mod2'}">
                    <div class="dishesUpperBarButtonText">{{currentDishes.mod2.name}}</div>
                </div>
                <div class="dishesUpperBarButton" ng-click="selectTab('drink')" ng-class="{dishesUpperBarButtonSelected : selection == 'drink'}">
                    <div class="dishesUpperBarButtonText">{{currentDishes.drink.name}}</div>
                </div>
            </div>

            <!--All categories besides fastfood-->

            <div ng-switch="selection">

                <!--Main-->

                <div ng-switch-when="main">

                    <div ng-repeat="dish in currentDishes.main.content">

                        <div class="row100" ng-click="addMain(dish.resturants_menu_index)">

                            <div class="restaurantsRowLogo">
                                <img src="{{serverHost}}/{{dish.image}}" style="width: 70px; height: 70px;">
                            </div>

                            <div class="restaurantsRowDesc">
                                <div class="restaurantsRowDescName">{{dish.name}}</div>
                                <div>{{dish.desc}}</div>
                            </div>
                            <div class="dishesRowButton">
                                <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="selectedDishes.main != dish.resturants_menu_index"></i>
                                <i class="icon ion-ios-circle-filled" style="font-size: 20px;" ng-show="selectedDishes.main == dish.resturants_menu_index"></i>
                            </div>
                        </div>

                        <div class="rowSeparator"></div>

                    </div>

                </div>

                <!--Mod 1-->

                <div ng-switch-when="mod1">

                    <div ng-repeat="mod1 in currentDishes.mod1.content">

                        <div class="row100" ng-click="addMod1(mod1.resturants_menu_index)">

                            <div class="restaurantsRowLogo">
                                <img src="{{serverHost}}/{{mod1.image}}" style="width: 70px; height: 70px;">
                            </div>

                            <div class="restaurantsRowDesc">
                                <div class="restaurantsRowDescName">{{mod1.name}}</div>
                                <div>{{mod1.desc}}</div>
                            </div>
                            <div class="dishesRowButton">
                                <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="selectedDishes.mod1 != mod1.resturants_menu_index"></i>
                                <i class="icon ion-ios-circle-filled" style="font-size: 20px;" ng-show="selectedDishes.mod1 == mod1.resturants_menu_index"></i>
                            </div>
                        </div>

                        <div class="rowSeparator"></div>

                    </div>

                </div>

                <!--Mod2-->

                <div ng-switch-when="mod2">

                    <div ng-repeat="mod2 in currentDishes.mod2.content">

                        <!--Mod2 selected-->

                        <div class="row100" ng-click="addMod2(mod2.resturants_menu_index)" ng-show="!isCheckboxSelected(mod2.resturants_menu_index)">

                            <div class="restaurantsRowLogo">
                                <img src="{{serverHost}}/{{mod2.image}}" style="width: 70px; height: 70px;">
                            </div>

                            <div class="restaurantsRowDesc">
                                <div class="restaurantsRowDescName">{{mod2.name}}</div>
                                <div>{{mod2.desc}}</div>
                            </div>
                            <div class="dishesRowButton">
                                <i class="icon ion-android-checkbox-outline-blank" style="font-size: 20px;" ng-click="addMod2(mod2.resturants_menu_index)" ng-show="!isCheckboxSelected(mod2.resturants_menu_index)"></i>
                                <i class="icon ion-android-checkbox-outline" style="font-size: 20px;" ng-click="deleteMod2(mod2.resturants_menu_index)" ng-show="isCheckboxSelected(mod2.resturants_menu_index)"></i>
                            </div>
                        </div>

                        <!--Mod2 deselected-->

                        <div class="row100" ng-click="deleteMod2(mod2.resturants_menu_index)" ng-show="isCheckboxSelected(mod2.resturants_menu_index)">

                            <div class="restaurantsRowLogo">
                                <img src="{{serverHost}}/{{mod2.image}}" style="width: 70px; height: 70px;">
                            </div>

                            <div class="restaurantsRowDesc">
                                <div class="restaurantsRowDescName">{{mod2.name}}</div>
                                <div>{{mod2.desc}}</div>
                            </div>
                            <div class="dishesRowButton">
                                <i class="icon ion-android-checkbox-outline-blank" style="font-size: 20px;" ng-show="!isCheckboxSelected(mod2.resturants_menu_index)"></i>
                                <i class="icon ion-android-checkbox-outline" style="font-size: 20px;" ng-show="isCheckboxSelected(mod2.resturants_menu_index)"></i>
                            </div>
                        </div>

                        <div class="rowSeparator"></div>

                    </div>

                </div>

                <!--Drink-->

                <div ng-switch-when="drink">

                    <div ng-repeat="drink in currentDishes.drink.content">

                        <div class="row100" ng-click="addDrink(drink.resturants_menu_index)" >

                            <div class="restaurantsRowLogo">
                                <img src="{{serverHost}}/{{drink.image}}" style="width: 70px; height: 70px;">
                            </div>

                            <div class="restaurantsRowDesc">
                                <div class="restaurantsRowDescName">{{drink.name}}</div>
                                <div>{{drink.desc}}</div>
                            </div>
                            <div class="dishesRowButton">
                                <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="selectedDishes.drink != drink.resturants_menu_index"></i>
                                <i class="icon ion-ios-circle-filled" style="font-size: 20px;" ng-show="selectedDishes.drink == drink.resturants_menu_index"></i>
                            </div>
                        </div>

                        <div class="rowSeparator"></div>

                    </div>

                </div>

            </div>

        </div>

        <!--Only fastfood-->

        <div ng-show="category_id == '3'">

            <div ng-repeat="dish in currentDishes.main.content">

                <div class="row100" ng-click="addFastfood(dish.resturants_menu_index)">

                    <div class="restaurantsRowLogo">
                        <img src="{{serverHost}}/{{dish.image}}" style="width: 70px; height: 70px;">
                    </div>

                    <div class="restaurantsRowDesc">
                        <div class="restaurantsRowDescName">{{dish.name}}</div>
                        <div>{{dish.desc}}</div>
                    </div>
                    <div class="dishesRowButton">
                        <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="selectedDishes.fastfood != dish.resturants_menu_index"></i>
                        <i class="icon ion-ios-circle-filled" style="font-size: 20px;" ng-show="selectedDishes.fastfood == dish.resturants_menu_index"></i>
                    </div>

                </div>
            </div>

            <div class="rowSeparator"></div>

        </div>


    </ion-content>
    <ion-footer-bar style="padding: 0; height: 88px; display: block;">

        <!-- Comments + quantity - event -->

        <div class="row100" ng-show="mode == 'event' || mode == 'editevent'">

            <div class="dishesFooterEvent" ng-click="addComment()">
                <div class="dishesFooterComments">הערות</div>
            </div>
            <div class="dishesFooterEvent">
                <input type="number" placeholder="Quantity" ng-model="selectedDishes.quantity" >
            </div>

        </div>

        <!-- Comments - create/edit-->

        <div class="dishesFooterComments" ng-click="addComment()" ng-show="mode == 'create' || mode == 'edit'">
            <div>הערות</div>
        </div>

        <!-- Make order - create/event -->

        <div class="greenFooterButton" ng-click="makeOrder()" ng-show="mode == 'create' || mode == 'event'">שלח</div>

        <!-- Update order - edit -->

        <div class="greenFooterButton" ng-click="makeOrder()" ng-show="mode == 'edit' || mode == 'editevent'">עדכן</div>

    </ion-footer-bar>
</ion-view>
