<ion-view class="rtl">
  <ion-content>

      <!--Content-->

      <div ng-repeat="employee in employees">

          <div class="row100 rtl" ng-click="goToCalendar(employee)">
              <div class="employeesRowName">{{employee.name}}</div>
              <div class="employeesRowTitle">להזמנה</div>
              <div class="employeesRowButton">
                  <img src="img/left_arrow.png" height="44">
              </div>
          </div>

          <!--Separator-->

          <div class="rowSeparator"></div>

      </div>

  </ion-content>
</ion-view>
