<ion-view>
    <ion-content class="rtl has-footer">

        <div class="row80">

            <img src="{{serverHost}}/{{product.image}}" style="width:100%;">

            <div class="productBold">{{product.title}}</div>

            <div class="productBold">מחיר:
                <span style="text-decoration: line-through;">{{product.old_price}} ₪</span>
                <span>{{product.price}} ₪</span>
            </div>

            <div class="productBold"> מק״ט: {{product.sku}}</div>

            <div>{{product.desc}}</div>

        </div>

        <div class="rowSeparator" style="margin: 10px 0;"></div>

        <div class="row80">

            <div class="productContentTitle">כמות:</div>

            <div class="row100">
                <div class="productNumber">
                    <i class="icon ion-ios-plus-outline" style="font-size: 34px;" ng-click="incrementQuantity()"></i>
                </div>
                <div class="productNumber">
                    <input type="number" ng-model="quantity">
                </div>
                <div class="productNumber">
                    <i class="icon ion-ios-minus-outline" style="font-size: 34px; margin-right: 20px;"  ng-click="decrementQuantity()"></i>
                </div>
            </div>

        </div>

        <div class="rowSeparator" style="margin: 10px 0;"></div>

        <div class="row80">

            <div class="productContentTitle">הוסף הערות להזמנה</div>

            <div class="row100 productContentTitle">

                <textarea ng-model="comments.content" style="width: 100%; height: 80px;"></textarea>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooterButton" ng-show="!isInCart(product.index)" ng-click="addToCart(product)">
            הוסף לעגלה
        </div>
        <div class="greenFooterButton" ng-show="isInCart(product.index)" style="background-color: #8eddcb">
            בעגלה
        </div>
    </ion-footer-bar>
</ion-view>
