<ion-view class="rtl">
    <ion-content>

        <div class="row100 rtl restaurantsHeader">
            בחרו ארוחה
        </div>

        <div ng-repeat="restaurant in restaurants" ng-click="checkAvailability(restaurant)">

            <div class="row100">

                <div class="restaurantsRowLogo">
                    <img src="{{serverHost}}/{{restaurant.image}}" style="width: 70px; height: 70px;">
                </div>

                <div class="restaurantsRowDesc">
                    <div class="restaurantsRowDescName">{{restaurant.name}}</div>
                    <div>{{restaurant.address}}</div>
                </div>
                <div class="restaurantsRowButton">
                    <img src="img/left_arrow.png" height="45">
                </div>

            </div>

            <div class="rowSeparator"></div>

        </div>
        <div>
            <img src="{{image}}" style="height: 30vh;">
        </div>

    </ion-content>
</ion-view>
