<ion-view>
    <ion-content class="pb10">

        <div class="centering" ng-repeat="product in products">

            <div class="storeCategoryItem" ui-sref="app.product({id: product.index})">

                <div class="row80">

                    <img src="{{serverHost}}/{{product.image}}" style="height: 100px;">

                    <div>{{product.title}}</div>

                    <div style="font-weight: bold;">{{product.price}} ₪</div>

                    <div class="storeCategoryItemDetails" ui-sref="app.product({id : product.index})">צפה בפרטים</div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
