<ion-view style="background-color: transparent;">
    <i class="icon ion-ios-close-outline" style="font-size: 200%; position: absolute; right:5px; top:20px;" ng-click="hideInfoPopup()"></i>
    <div class="infoPopupMain rtl">

        <div class="infoPopupRestaurantName">{{infoOrder.order.restaurant_name}}</div>

        <div>
            <img src="{{serverHost}}/{{infoOrder.order.restaurant_image}}" style="width: 70px; height: 70px;">
        </div>

        <div class="infoPopupDishes">

            <div ng-show="infoOrder.order.fastfood == '0'">
                <span>מנה עיקרית: </span>{{infoOrder.order.main.name}}
            </div>
            <div ng-show="infoOrder.order.fastfood == '0'">
                <span>תוספות: </span>{{infoOrder.order.mod1.name}}, {{infoOrder.order.mod2_first.name}}<span ng-show="infoOrder.order.mod2_second != '0'">,</span> {{infoOrder.order.mod2_second.name}}
            </div>
            <div ng-show="infoOrder.order.fastfood == '0'">
                <span>שתיה: </span>{{infoOrder.order.drink.name}}
            </div>
            <div ng-show="infoOrder.order.fastfood != '0'">
                <span>מנה ארוזה: </span>{{infoOrder.order.fastfood.name}}
            </div>

            <div>
                <textarea class="infoOrderComment" ng-model="updatedComment.content"></textarea>
            </div>

        </div>

        <div>
            <button class="button" ng-disabled="!checkAvailabilityForInfo()" style="background-color: #48AEC4; color: white;" ng-click="updateComment(infoOrder.order.orders_index)">עדכן הערה</button>
        </div>
        <div style="margin-top: 10px;">
            <button class="button" ng-disabled="!checkAvailabilityForInfo()" style="background-color: red; color: white;" ng-click="deleteOrder(infoOrder.order.orders_index)">מחק הזמנה</button>
        </div>

    </div>
</ion-view>