<ion-view class="rtl">
    <ion-content>

        <!--<div ng-show="'app.event' | isState">-->

            <div class="eventInput">
                <input type="text" placeholder='בחר תאריך' ng-model="eventDate" ng-click="updateDateTime('date')">
            </div>

            <div class="eventInput">
                <input type="text" placeholder='בחר שעה' ng-model="eventTime" ng-click="updateDateTime('time')">
            </div>

            <div class="eventButton" ng-click="addEventSchedule(0)" ng-show="angular.equals({}, event)">הוסף הזמנה</div>
            <div class="eventButton" ng-click="addEventSchedule(1)" ng-show="!angular.equals({}, event)">הוסף הזמנה</div>

            <div ng-repeat="eventOrder in eventOrders">

                <div class="calendarRowDateOrder centering">

                    <h1>{{eventOrder.quantity}}</h1>

                </div>

                <div class="calendarRowDesc">

                    <div class="row100">

                        <div class="calendarRowDescLogo">
                            <img src="{{serverHost}}/{{eventOrder.restaurant_image}}" style="width: 70px; height: 70px;">
                        </div>

                        <div class="calendarRowDescContent rtl">

                            <div class="calendarRowDescContentRestaurant">{{eventOrder.restaurant_name}}</div>
                            <div ng-show="eventOrder.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>מנה עיקרית: </span>{{eventOrder.main.name}}
                            </div>
                            <div ng-show="eventOrder.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>תוספות: </span>{{eventOrder.mod1.name}}, {{eventOrder.mod2_first.name}}<span
                                    ng-show="eventOrder.mod2_second != '0'">,</span> {{eventOrder.mod2_second.name}}
                            </div>
                            <div ng-show="eventOrder.fastfood == '0'" class="calendarRowDescContentDishes">
                                <span>שתיה: </span>{{eventOrder.drink.name}}
                            </div>
                            <div ng-show="eventOrder.fastfood != '0'" class="calendarRowDescContentDishes">
                                <span>מנה ארוזה: </span>{{eventOrder.fastfood.name}}
                            </div>

                        </div>

                    </div>

                </div>

                <div class="calendarRowButton">
                    <i class="icon ion-edit" style="font-size: 200%; color: #48AEC4;" ui-sref="app.restaurants({mode: 'editevent', day: eventOrder.order_date, day_number: event.day_number, order_id: eventOrder.orders_index})"></i>
                    <i class="icon ion-ios-trash" style="font-size: 200%; color: #48AEC4;" ng-click="deleteEventOrder(eventOrder.orders_index)"></i>
                </div>

            </div>

        <!--</div>-->



    </ion-content>
    <ion-footer-bar class="p0">
        <div ng-if="'app.event' | isState" class="greenFooterButton" ng-click="finishOrder()">סיום הזמנה</div>
    </ion-footer-bar>
</ion-view>
