<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-stable" align-title="center">

            <ion-nav-back-button>
            </ion-nav-back-button>
            <!--<ion-nav-buttons side="left">-->
                <!--<i ng-show="showCart == true" class="icon ion-ios-cart-outline" style="color: white; font-size: 30px !important; margin: 2px 0 0 5px;" ui-sref="app.cart"></i>-->
                <!--<div class="productsInCart" ng-show="showCart == true && cart.length > 0">{{cart.length}}</div>-->

            <!--</ion-nav-buttons>-->

            <ion-nav-title>
                <img src="img/header-logo.png" style="height: 20px; margin-top: 10px !important;"/>
            </ion-nav-title>

            <ion-nav-buttons side="right">
                <i ng-if="!('app.event' | isState)" class="icon ion-android-menu" menu-toggle="right" style="color: white; font-size: 30px !important; margin: 2px 5px 0 0;"></i>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <h1 class="title">תפריט</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list class="rtl">
                <!--<ion-item menu-close ui-sref="app.login">-->
                    <!--Login-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.home">-->
                    <!--Home-->
                <!--</ion-item>-->
                <ion-item menu-close href="#" ng-click="goToCalendar()">
                    הזמנות שבועיות
                </ion-item>
                <!--<ion-item menu-close ui-sref="app.store">-->
                    <!--Store-->
                <!--</ion-item>-->
                <ion-item menu-close ui-sref="app.personal">
                    עמוד אישי
                </ion-item>
                <ion-item menu-close ui-sref="app.employees" ng-if="isManager == 1">
                    העובדים שלי
                </ion-item>
                <!--<ion-item menu-close ui-sref="app.events">-->
                    <!--Events-->
                <!--</ion-item>-->
                <ion-item menu-close href="#" ng-click="logout()">
                    התנתקות
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
