<ion-view>
    <ion-content class="rtl pb10">

        <div class="row80">

            <div class="row100">
                <div class="personalLabel">
                    שם:
                </div>
                <div class="personalInput">
                    <input type="text" ng-model="newdata.name">
                </div>
            </div>
            <div class="row100">
                <div class="personalLabel">
                    מספר טלפון:
                </div>
                <div class="personalInput">
                    <input type="text" class="ltr" ng-model="newdata.phone">
                </div>
            </div>
            <div class="row100">
                <div class="personalLabel">
                    אימייל:
                </div>
                <div class="personalInput">
                    <input type="text" class="ltr" ng-model="newdata.email">
                </div>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooterButton" ng-click="updateUserData()">
            עדכן
        </div>
    </ion-footer-bar>
</ion-view>
