<ion-view>
    <ion-content>

        <div class="centering" style="position: relative;" ng-repeat="category in store.store_categories">

            <div class="row100" ui-sref="app.store_category({store_id: store.store.index, category_id: category.index})"
                 style="background: url({{serverHost}}/{{category.image}}) no-repeat center center; background-size: contain; opacity: 0.5;">

                <img src="{{serverHost}}/{{category.image}}" style="visibility: hidden; width: 100%;">

            </div>

            <div class="storeTitle" ui-sref="app.store_category({store_id: store.store.index, category_id: category.index})">
                {{category.title}}
            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
</ion-view>
